
.vibox-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* Modal Content/Box */
.vibox-content {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox*/
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto; /* 20px from the top and centered */
  padding: 0;
  max-width: 560px;
  max-height: 100vh;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* The Close Button */
.vibox-close {
  color: #cecece;
  font-size: 28px;
  line-height: 20px;
  font-weight: bold;
  position: absolute;
  top: -23px;
  right: 0;
  cursor: pointer;
}

.vibox-close {
  &:hover {
    color: #ffffff;
  }

  &:focus {
    top: 1px;
    color: #ffffff;
  }
}

.vibox-iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.vibox-fixed-body {
  //overflow: hidden;
  //position: fixed;
  margin-right: 17px;
  overflow: hidden;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {

}
